@import '../colors.scss';

.sistify-header {
  background: $black;
  color: $white;

  > .title { font-size: 38px }

  > .profile {
        &:hover {
        color: $primary;
        cursor: pointer;
    }
  }

  > .button {
      width: 36px;
      height: 36px;
      font-size: 36px;
  }
}

::ng-deep .mat-ink-bar {
  background-color: $primary !important;
}
