@import '../../../../../colors.scss';

.user-profile {

  > .action {
      font-weight: 600;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
  }

  > .header {
    font-weight: lighter;
    text-align: center;
    color: $primary;
  }
}
