<mat-card class='sistify-user-card'>
  <mat-card-header class='header'>
    <mat-card-title class='title'>
      {{ user?.display_name }}
    </mat-card-title>
    <mat-card-subtitle class='subtitle'>
      {{ user?.followers?.total > 0 ? 'user?.followers?.total' : 'No followers' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout='column' class='content'>
    <span>Country: {{ user?.country}}</span>
    <span>Email: {{ user?.email }}</span>
  </mat-card-content>
</mat-card>
