<mat-card class='sistify-card-track'>
  <div class='heading' fxLayout='row'>
    <mat-card-title fxLayoutAlign='start start' fxFlex>
      {{ item.track.name }}
    </mat-card-title>
    <mat-card-subtitle fxLayoutAlign='end end'>
      Release Date: {{ item.track.album.release_date | date: 'shortDate'}}
    </mat-card-subtitle>
  </div>
  <div fxLayout='row'>
    <div fxLayout='column' fxFlex>
      <span>Artist's: </span>
      <div *ngFor='let artist of (item.track.album.artists)'>
        <span> {{ artist.name }} </span>
      </div>
    </div>
    <div>
      <mat-icon>delete</mat-icon>
    </div>
  </div>
</mat-card>